---
import Layout from '../layouts/Layout.astro';
const base = '/';
---

<Layout>
 <main class="relative min-h-screen bg-black text-white flex flex-col items-center justify-center p-8">
  <img src="/mainpic.webp" alt="Main Image" class="max-w-full h-auto scale-[1.2]" />

  <div class="absolute bottom-[20%] w-full flex justify-center">

    <a
      href={`${base}ticket`}
      class="bg-white text-black font-bold text-lg sm:text-xl px-6 sm:px-8 py-3 sm:py-4 rounded-full shadow-md hover:bg-black hover:text-white transition-all"
    >
      CLICK TO ENTER
    </a>
  </div>
</main>

</Layout>
