<header class="bg-black text-white p-4">
  <div class="container mx-auto flex flex-col sm:flex-row justify-between items-center space-y-4 sm:space-y-0">
    <h1 class="text-3xl font-semibold text-center sm:text-left">UNDERGROUND LAIR</h1>
    
    <nav>
      <ul class="flex flex-col sm:flex-row items-center space-y-2 sm:space-y-0 sm:space-x-6">
        <li>
          <a href="./" class="hover:text-gray-300 transition">HOME</a>
        </li>
        <li>
          <a href="./ticket" class="hover:text-gray-300 transition">TICKETS</a> 
        </li>
      </ul>
    </nav>
  </div>
</header>
